services:
  postgres:
    image: postgres:18
    container_name: taskiq-dashboard-postgres
    environment:
      POSTGRES_USER: taskiq-dashboard
      POSTGRES_PASSWORD: look_in_vault
      POSTGRES_DB: taskiq-dashboard
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"

  dashboard:
    image: taskiq_dashboard:local
    container_name: taskiq-dashboard-dashboard
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - postgres
    environment:
      TASKIQ_DASHBOARD__STORAGE_TYPE: postgres
      TASKIQ_DASHBOARD__POSTGRES__HOST: postgres
      TASKIQ_DASHBOARD__API__TOKEN: supersecret
    ports:
      - "8000:8000"

  sqlite_dashboard:
    image: taskiq_dashboard:local
    container_name: taskiq-dashboard-sqlite-dashboard
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      TASKIQ_DASHBOARD__STORAGE_TYPE: sqlite
      TASKIQ_DASHBOARD__SQLITE__DSN: sqlite+aiosqlite:///data/taskiq_dashboard.db
      TASKIQ_DASHBOARD__API__TOKEN: supersecret
    volumes:
      - taskiq_dashboard_sqlite:/app/data/taskiq-dashboard.db
    ports:
      - "8000:8000"

volumes:
  postgres_data:
  taskiq_dashboard_sqlite:
