name: Tests
on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'docs/**'
      - '*.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'docs/**'
      - '*.md'

permissions:
  actions: read
  contents: read
  pull-requests: read

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]
      fail-fast: false
    services:
     postgres:
       image: postgres:18
       env:
         POSTGRES_USER: taskiq-dashboard
         POSTGRES_PASSWORD: look_in_vault
         POSTGRES_DB: taskiq-dashboard
       options: >-
         --health-cmd pg_isready
         --health-interval 10s
         --health-timeout 5s
         --health-retries 5
       ports:
         - 5432:5432
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - id: setup-uv
        uses: astral-sh/setup-uv@3259c6206f993105e3a61b142c2d97bf4b9ef83d # v7.1.0
        with:
          enable-cache: true
          cache-suffix: ${{ matrix.python-version }}
          version: "latest"
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: uv sync --all-extras
      - name: Run tests
        env:
          TASKIQ_DASHBOARD__STORAGE_TYPE: postgres
          TASKIQ_DASHBOARD__POSTGRES__DSN: postgresql+asyncpg://taskiq-dashboard:look_in_vault@localhost:5432/taskiq-dashboard
        run: uv run pytest
      - name: Check dead fixtures
        run: uv run pytest --dead-fixtures
